<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs"
	 xmlns:ui="http://wixtoolset.org/schemas/v4/wxs/ui">
  <Package
	  Name="ModpackInstaller"
	  Manufacturer="Veteran"
	  Version="$(var.ProductVersion)"
	  UpgradeCode="CF9F5E8B-CC83-49BF-B69C-736560351360">
    <MajorUpgrade DowngradeErrorMessage="!(loc.DowngradeError)" />
	<MediaTemplate EmbedCab="yes" />

    <Feature Id="Main">
		<ComponentGroupRef Id="AppFiles" />
		<Component Id="DesktopShortcut" Guid="470F0B57-7FED-41AD-85D8-73A9F6F0BBFB">
			<Shortcut
				Id="ApplicationDesktopShortcut"
				Directory="DesktopFolder"
				Name="Minecraft Modpack Installer"
				Target="[INSTALLFOLDER]ModpackInstaller.Desktop.exe"
				WorkingDirectory="INSTALLFOLDER"
				Icon="MyApplicationIcon" />
			<RemoveFolder Id="DesktopFolder" On="uninstall" />
			<RegistryValue Root="HKCU" Key="Software\[Manufacturer]\[ProductName]" Name="installed" Type="integer" Value="1" KeyPath="yes" />
		</Component>
		<Component Id="StartMenuShortcut" Guid="FDEA4B46-101C-4F78-822C-F9F553AC496E">
			<Shortcut
				Id="ApplicationStartMenuShortcut"
				Directory="ProgramMenuFolder"
				Name="Minecraft Modpack Installer"
				Target="[INSTALLFOLDER]ModpackInstaller.Desktop.exe"
				WorkingDirectory="INSTALLFOLDER"
				Icon="MyApplicationIcon" />
			<RemoveFolder Id="ProgramMenuFolder" On="uninstall" />
			<RegistryValue Root="HKCU" Key="Software\[Manufacturer]\[ProductName]" Name="startmenu" Type="integer" Value="1" KeyPath="yes" />
		</Component>
	</Feature>
	  
	<Icon Id="MyApplicationIcon" SourceFile="..\ModpackInstaller\Assets\image-1.ico" />
	  
	<ui:WixUI
        Id="WixUI_InstallDir"
        InstallDirectory="INSTALLFOLDER"
        />

  </Package>
</Wix>
