<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi"
       xmlns:util="http://schemas.microsoft.com/wix/UtilExtension">

	<Product Id="*" Name="MyCSharpApp" Language="1033" Version="1.0.0.0" Manufacturer="MyCompany" UpgradeCode="cc081cc7-6981-43cc-97b3-58da03f81cfd">
		<Package InstallerVersion="500" Compressed="yes" InstallScope="perMachine" />

		<MajorUpgrade DowngradeErrorMessage="A newer version is already installed." />
		<MediaTemplate />

		<Directory Id="TARGETDIR" Name="SourceDir">
			<Directory Id="ProgramFilesFolder">
				<Directory Id="INSTALLFOLDER" Name="MyCSharpApp">
					<?foreach File in Directory($(var.PublishFolder)) ?>
					<Component Id="$(var.File.Name.Replace('.', '_'))" Guid="e0c003ab-7a27-41a7-b4e4-05fba6451cc2">
						<File Id="$(var.File.Name)" Source="$(var.PublishFolder)\$(var.File.Name)" />
					</Component>
					<?endforeach ?>
				</Directory>
			</Directory>
		</Directory>

		<DirectoryRef Id="INSTALLFOLDER">
			<Component Id="MainExecutable" Guid="94b9454b-5f4f-4bdd-ad36-290276416037">
				<File Source="$(var.PublishFolder)\MyCSharpApp.exe" KeyPath="yes" />
			</Component>
		</DirectoryRef>

		<DirectoryRef Id="ApplicationProgramsFolder">
			<Component Id="StartMenuShortcut" Guid="8cde862b-ba96-4c7b-bbca-415455d9ddd7">
				<Shortcut Id="StartMenuShortcut"
                         Name="MyCSharpApp"
                         Target="[INSTALLFOLDER]MyCSharpApp.exe"
                         WorkingDirectory="INSTALLFOLDER" />
				<RemoveFolder Id="RemoveProgramsFolder" On="uninstall"/>
				<RegistryValue Root="HKCU" Key="Software\MyCSharpApp" Name="installed" Type="integer" Value="1" KeyPath="yes"/>
			</Component>
		</DirectoryRef>

		<DirectoryRef Id="DesktopFolder">
			<Component Id="DesktopShortcut" Guid="52363a8a-a58c-46e6-9aee-f7ba25f84d14">
				<Shortcut Id="DesktopShortcut"
                         Name="MyCSharpApp"
                         Target="[INSTALLFOLDER]MyCSharpApp.exe"
                         WorkingDirectory="INSTALLFOLDER" />
				<RegistryValue Root="HKCU" Key="Software\MyCSharpApp" Name="desktop" Type="integer" Value="1" KeyPath="yes"/>
			</Component>
		</DirectoryRef>

		<InstallExecuteSequence>
		</InstallExecuteSequence>

		<Feature Id="MainFeature" Title="MyCSharpApp" Level="1">
			<ComponentRef Id="MainExecutable"/>
			<ComponentRef Id="StartMenuShortcut"/>
			<ComponentRef Id="DesktopShortcut"/>
		</Feature>

		<UIRef Id="WixUI_InstallDir"/>
		<Property Id="WIXUI_INSTALLDIR" Value="INSTALLFOLDER"/>
		<UIRef Id="WixUI_ErrorProgressText"/>
	</Product>
</Wix>